In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('../data/weather.csv')
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
melter = pd.melt(df, id_vars=['id', 'year', 'month', 'element'])
melter

          id  year  month element variable  value
0    MX17004  2010      1    tmax       d1    NaN
1    MX17004  2010      1    tmin       d1    NaN
2    MX17004  2010      2    tmax       d1    NaN
3    MX17004  2010      2    tmin       d1    NaN
4    MX17004  2010      3    tmax       d1    NaN
..       ...   ...    ...     ...      ...    ...
677  MX17004  2010     10    tmin      d31    NaN
678  MX17004  2010     11    tmax      d31    NaN
679  MX17004  2010     11    tmin      d31    NaN
680  MX17004  2010     12    tmax      d31    NaN
681  MX17004  2010     12    tmin      d31    NaN

[682 rows x 6 columns]

In [10]:
ax = melter.pivot_table(index=['id', 'year', 'variable', 'month'], columns='element')
ax

                            value
element                      tmax  tmin
id      year variable month
MX17004 2010 d1       12     29.9  13.8
             d10      3      34.5  16.8
             d11      2      29.7  13.4
             d13      8      29.8  16.5
             d14      7      29.9  16.5
                      10     29.5  13.0
             d15      10     28.7  10.5
             d16      3      31.1  17.6
             d17      6      28.0  17.5
             d2       2      27.3  14.4
                      11     31.3  16.3
             d23      2      29.9  10.7
                      8      26.4  15.0
             d25      8      29.7  15.6
             d26      11     28.1  12.1
             d27      4      36.3  16.7
                      5      33.2  18.2
                      11     27.7  14.2
             d28      10     31.2  15.0
             d29      6      30.1  18.0
                      8      28.0  15.3
             d3       2      24.1  14.4
                      7      28.6  17.5
             d30      1      27.8  14.5
             d31      8      25.4  15.4
             d4       11     27.2  12.0
             d5       3      32.1  14.2
                      8      29.6  15.8
                      10     27.0  14.0
                      11     26.3   7.9
             d6       12     27.8  10.5
             d7       10     28.1  12.9
             d8       8      29.0  17.3

In [11]:
an = ax.reset_index()
an

              id  year variable month value
element                                tmax  tmin
0        MX17004  2010       d1    12  29.9  13.8
1        MX17004  2010      d10     3  34.5  16.8
2        MX17004  2010      d11     2  29.7  13.4
3        MX17004  2010      d13     8  29.8  16.5
4        MX17004  2010      d14     7  29.9  16.5
5        MX17004  2010      d14    10  29.5  13.0
6        MX17004  2010      d15    10  28.7  10.5
7        MX17004  2010      d16     3  31.1  17.6
8        MX17004  2010      d17     6  28.0  17.5
9        MX17004  2010       d2     2  27.3  14.4
10       MX17004  2010       d2    11  31.3  16.3
11       MX17004  2010      d23     2  29.9  10.7
12       MX17004  2010      d23     8  26.4  15.0
13       MX17004  2010      d25     8  29.7  15.6
14       MX17004  2010      d26    11  28.1  12.1
15       MX17004  2010      d27     4  36.3  16.7
16       MX17004  2010      d27     5  33.2  18.2
17       MX17004  2010      d27    11  27.7  14.2
18       MX17004  2010      d28    10  31.2  15.0
19       MX17004  2010      d29     6  30.1  18.0
20       MX17004  2010      d29     8  28.0  15.3
21       MX17004  2010       d3     2  24.1  14.4
22       MX17004  2010       d3     7  28.6  17.5
23       MX17004  2010      d30     1  27.8  14.5
24       MX17004  2010      d31     8  25.4  15.4
25       MX17004  2010       d4    11  27.2  12.0
26       MX17004  2010       d5     3  32.1  14.2
27       MX17004  2010       d5     8  29.6  15.8
28       MX17004  2010       d5    10  27.0  14.0
29       MX17004  2010       d5    11  26.3   7.9
30       MX17004  2010       d6    12  27.8  10.5
31       MX17004  2010       d7    10  28.1  12.9
32       MX17004  2010       d8     8  29.0  17.3

In [13]:
an.head(1)

              id  year variable month value
element                                tmax  tmin
0        MX17004  2010       d1    12  29.9  13.8

In [15]:
an = pd.melt(an, id_vars=['id','year', 'month', 'variable'])
an

C:\Users\starl\AppData\Local\Temp\ipykernel_2524\2644385282.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  an = pd.melt(an, id_vars=['id','year', 'month', 'variable'])

         id  year  month variable   None element  value
0   MX17004  2010     12       d1  value    tmax   29.9
1   MX17004  2010      3      d10  value    tmax   34.5
2   MX17004  2010      2      d11  value    tmax   29.7
3   MX17004  2010      8      d13  value    tmax   29.8
4   MX17004  2010      7      d14  value    tmax   29.9
..      ...   ...    ...      ...    ...     ...    ...
61  MX17004  2010     10       d5  value    tmin   14.0
62  MX17004  2010     11       d5  value    tmin    7.9
63  MX17004  2010     12       d6  value    tmin   10.5
64  MX17004  2010     10       d7  value    tmin   12.9
65  MX17004  2010      8       d8  value    tmin   17.3

[66 rows x 7 columns]

In [19]:
an.columns = ['id', 'year', 'month', 'values', 'None', 'element', 'value']
an = an.drop(['None'], axis=1)
an

ValueError: Length mismatch: Expected axis has 6 elements, new values have 7 elements

In [21]:
an.columns = ['id', 'year', 'month', 'value', 'value', 'element', 'value']

ValueError: Length mismatch: Expected axis has 6 elements, new values have 7 elements

In [18]:
an.pivot(columns=['id','year', 'month', 'value'], values='value')

ValueError: Data must be 1-dimensional