In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('../data/weather.csv')
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
melter = pd.melt(df, id_vars=['id', 'year', 'month', 'element'], var_name="day", value_name="temp")
melter

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
..       ...   ...    ...     ...  ...   ...
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [6]:
df = melter.pivot_table(index=['id', 'year','month','day'], columns=['element'])
df

                        temp
element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5

In [20]:
df = df.reset_index()
df

        index       id  year month  day  temp
element                                  tmax  tmin
0           0  MX17004  2010     1  d30  27.8  14.5
1           1  MX17004  2010     2  d11  29.7  13.4
2           2  MX17004  2010     2   d2  27.3  14.4
3           3  MX17004  2010     2  d23  29.9  10.7
4           4  MX17004  2010     2   d3  24.1  14.4
5           5  MX17004  2010     3  d10  34.5  16.8
6           6  MX17004  2010     3  d16  31.1  17.6
7           7  MX17004  2010     3   d5  32.1  14.2
8           8  MX17004  2010     4  d27  36.3  16.7
9           9  MX17004  2010     5  d27  33.2  18.2
10         10  MX17004  2010     6  d17  28.0  17.5
11         11  MX17004  2010     6  d29  30.1  18.0
12         12  MX17004  2010     7   d3  28.6  17.5
13         13  MX17004  2010     7  d14  29.9  16.5
14         14  MX17004  2010     8  d23  26.4  15.0
15         15  MX17004  2010     8   d5  29.6  15.8
16         16  MX17004  2010     8  d29  28.0  15.3
17         17  MX17004  2010     8  d13  29.8  16.5
18         18  MX17004  2010     8  d25  29.7  15.6
19         19  MX17004  2010     8  d31  25.4  15.4
20         20  MX17004  2010     8   d8  29.0  17.3
21         21  MX17004  2010    10   d5  27.0  14.0
22         22  MX17004  2010    10  d14  29.5  13.0
23         23  MX17004  2010    10  d15  28.7  10.5
24         24  MX17004  2010    10  d28  31.2  15.0
25         25  MX17004  2010    10   d7  28.1  12.9
26         26  MX17004  2010    11   d2  31.3  16.3
27         27  MX17004  2010    11   d5  26.3   7.9
28         28  MX17004  2010    11  d27  27.7  14.2
29         29  MX17004  2010    11  d26  28.1  12.1
30         30  MX17004  2010    11   d4  27.2  12.0
31         31  MX17004  2010    12   d1  29.9  13.8
32         32  MX17004  2010    12   d6  27.8  10.5

In [22]:
df = pd.melt(df, id_vars=['index','id', 'year', 'month', 'day'])
df

C:\Users\starl\AppData\Local\Temp\ipykernel_14816\816075859.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df = pd.melt(df, id_vars=['index','id', 'year', 'month', 'day'])

     index       id  year  month  day variable value
0        0  MX17004  2010      1  d30     None  temp
1        1  MX17004  2010      2  d11     None  temp
2        2  MX17004  2010      2   d2     None  temp
3        3  MX17004  2010      2  d23     None  temp
4        4  MX17004  2010      2   d3     None  temp
..     ...      ...   ...    ...  ...      ...   ...
193     28  MX17004  2010     11  d27    value  14.2
194     29  MX17004  2010     11  d26    value  12.1
195     30  MX17004  2010     11   d4    value  12.0
196     31  MX17004  2010     12   d1    value  13.8
197     32  MX17004  2010     12   d6    value  10.5

[198 rows x 7 columns]

In [26]:
df.pivot(index=['id'], columns=[ 'year', 'month'], values='value')

ValueError: Index contains duplicate entries, cannot reshape

In [8]:
df.columns

MultiIndex([(   'id',     ''),
            ( 'year',     ''),
            ('month',     ''),
            (  'day',     ''),
            ( 'temp', 'tmax'),
            ( 'temp', 'tmin')],
           names=[None, 'element'])

In [9]:
df.head(1)

              id  year month  day  temp
element                            tmax  tmin
0        MX17004  2010     1  d30  27.8  14.5

In [17]:
df

              id  year month  day  temp
element                            tmax  tmin
0        MX17004  2010     1  d30  27.8  14.5
1        MX17004  2010     2  d11  29.7  13.4
2        MX17004  2010     2   d2  27.3  14.4
3        MX17004  2010     2  d23  29.9  10.7
4        MX17004  2010     2   d3  24.1  14.4
5        MX17004  2010     3  d10  34.5  16.8
6        MX17004  2010     3  d16  31.1  17.6
7        MX17004  2010     3   d5  32.1  14.2
8        MX17004  2010     4  d27  36.3  16.7
9        MX17004  2010     5  d27  33.2  18.2
10       MX17004  2010     6  d17  28.0  17.5
11       MX17004  2010     6  d29  30.1  18.0
12       MX17004  2010     7   d3  28.6  17.5
13       MX17004  2010     7  d14  29.9  16.5
14       MX17004  2010     8  d23  26.4  15.0
15       MX17004  2010     8   d5  29.6  15.8
16       MX17004  2010     8  d29  28.0  15.3
17       MX17004  2010     8  d13  29.8  16.5
18       MX17004  2010     8  d25  29.7  15.6
19       MX17004  2010     8  d31  25.4  15.4
20       MX17004  2010     8   d8  29.0  17.3
21       MX17004  2010    10   d5  27.0  14.0
22       MX17004  2010    10  d14  29.5  13.0
23       MX17004  2010    10  d15  28.7  10.5
24       MX17004  2010    10  d28  31.2  15.0
25       MX17004  2010    10   d7  28.1  12.9
26       MX17004  2010    11   d2  31.3  16.3
27       MX17004  2010    11   d5  26.3   7.9
28       MX17004  2010    11  d27  27.7  14.2
29       MX17004  2010    11  d26  28.1  12.1
30       MX17004  2010    11   d4  27.2  12.0
31       MX17004  2010    12   d1  29.9  13.8
32       MX17004  2010    12   d6  27.8  10.5

In [19]:
pd.melt(df, id_vars=['year', 'month', 'day', 'temp'])

ValueError: Per-column arrays must each be 1-dimensional